<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./5555.css">
</head>



<body>
    <div class="container">
    
        <form class="inner-container">
            <img src="https://ihebxxxjaouadi.github.io/images-repo/images/responsive-login-html-CSS/images/icon.svg">

            <div class="content-container" id="container">

                <div id="forget-password">
                    <h3>Нууц үг мартсан</h3>
                    <input type="email" id="email-forget-password" placeholder="Mail">
                    <input type="submit" value="">
                </div>
                <div id="sign-in">
                    <h1>Нэвтрэх</h1>
                    <input type="email" id="email-sign-in" placeholder="Нэвтрэх нэр">
                    <div class="error hide">
                        <p>aldaanii messege</p>
                    </div>
                    <input type="password" id="password-sign-in" placeholder="Нууц үг">
                    <div class="error hide">
                        <p>aldaanii messege</p>
                    </div>
                    <p class="forget-password"> Нууц үг мартсан <a id="btn-forget-password" href="#">Энд!</a></p>
                    <input type="submit" id="check_user" onclick="check()" value="Нэвтрэх">
                    <button class="tttt">Бүртгүүлэх</button>
                </div>
                <div class="sign-up">
                    <h1>Бүртгүүлэх</h1>
                    <input type="email" id="email-sign-up" placeholder="Мейл хаяг">
                    <input type="text" id="name-sign-up" placeholder="Овог нэр">
                    <input type="password" id="password-sign-up" placeholder="Нууц үг">
                    <input type="submit" value="Create User">
                </div>
            </div>
            <div class="background-color">
                <ul>
                    <li id="gray"></li>
                    <li id="orange"></li>
                    <li id="pink"></li>
                </ul>
            </div>

        </form>

    </div>


    <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-auth.js"></script>
    <script src="../js/firebase.js"></script>
    <script src="/5555.js"></script>
</body>

</html>
</body>

</html>


<!--  -->
<!--  -->
<!--  -->
<div class="invoice-main-content-container">
    <div class="header-buttons">  
        <input type="file" id="files" multiple> 
        <button id="send">
            File нэмэх
        </button>
        <div id="rigth-side">
            <p id="uploading"></p>
            <progress value="0" max="100" id="progress"></progress>
        </div> 
    </div>
    <hr />
    <div id="mainContentContainer">
        <div class="invoice-header">
            <span id="fileSpan">Дотоод файлууд</span>
            <hr />
        </div>
        <div id="tableContent">
            <span id="imgSpan">Зурагнууд</span>
            <div id="img-area"></div>       
        </div>
        <span id="docSpan">Документууд</span>
        <div id="listFiles">   
        </div>
    </div>
    <div class="footer-content">
    </div>
    </div>
  </div>