<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/5555.css">
</head>



<body>
    <div class="container">

        <form class="inner-container">
            <img src="https://ihebxxxjaouadi.github.io/images-repo/images/responsive-login-html-CSS/images/icon.svg">

            <div class="content-container" id="container">

                <div id="forget-password">
                    <h3>Нууц үг мартсан</h3>
                    <input type="email" id="email-forget-password" placeholder="Mail">
                    <input type="submit" value="">
                </div>
                <div id="sign-in">
                    <h1>Нэвтрэх</h1>
                    <input type="email" id="email-sign-in" placeholder="Нэвтрэх нэр">
                    <div class="error hide">
                        <p>aldaanii messege</p>
                    </div>
                    <input type="password" id="password-sign-in" placeholder="Нууц үг">
                    <div class="error hide">
                        <p>aldaanii messege</p>
                    </div>
                    <p class="forget-password"> Нууц үг мартсан <a id="btn-forget-password" href="#">Энд!</a></p>
                    <input type="submit" id="check_user" onclick="check()" value="Нэвтрэх">
                    <button class="tttt">Бүртгүүлэх</button>
                </div>
                <div class="sign-up">
                    <h1>Бүртгүүлэх</h1>
                    <input type="email" id="email-sign-up" placeholder="Мейл хаяг">
                    <input type="text" id="name-sign-up" placeholder="Овог нэр">
                    <input type="password" id="password-sign-up" placeholder="Нууц үг">
                    <input type="submit" value="Create User">
                </div>
            </div>
            <div class="background-color">
                <ul>
                    <li id="gray"></li>
                    <li id="orange"></li>
                    <li id="pink"></li>
                </ul>
            </div>

        </form>

    </div>


    <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-auth.js"></script>
    <script src="../js/firebase.js"></script>
    <script src="../js/5555.js"></script>
</body>

</html>
</body>

</html>