<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/cases_style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=B612&display=swap" rel="stylesheet">

</head>
<body>
    <div class="main-content-container">
        <div class="header-buttons">

            <button onclick="sortAll()" id="header-button-first">ХЭРГҮҮД</button>
            <button>ШИНЭЭР НЭМЭХ</button>
            <button>FILE татах</button>
            <button id="header-button-fourth">МИНИЙ ХЭРГҮҮД</button>
            <button id="header-button-fifth" onclick="sortMyWorks()">ТӨЛБӨР</button>
            <button onclick="sortByActive()">ИДЭВХИТЭЙ</button>
            <button id="header-button-last" onclick="sortByClosed()">ШИЙДЭГДСЭН</button>

        </div>
        <div id="main-content"></div> 
    </div>
    <div id="about-content">
        <div id="about-content-container">
            <img src="../../assets/closeicon.png" onclick="closeIt()">
        </div>
    </div>
    <script src="../js/cases.js"></script>
</body>
</html>