<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/cases_style.css">
</head>
<body>
    <div class="main-content-container">
        <div class="header-buttons">
            <button id="header-button-first">ХЭРГҮҮД</button>
            <button>ШИНЭЭР НЭМЭХ</button>
            <button>FILE татах</button>
            <button>МИНИЙ ХЭРГҮҮД</button>

            <button>МИНИЙ АЖИЛЖ БУЙ</button>
            <button>ИДЭВХИТЭЙ</button>
            <button id="header-button-last">ШИИДЭГДСЭН</button>
        </div>
        <div class="cat-names">
            <div>ХЭРГИЙН ID</div>
            <div>ХЭРГИЙН НЭР</div>
            <div>ТӨРӨЛ</div>
            <div>ХААНА</div>
            <div>ХУГАЦАА</div>
            <div>ТӨЛБӨР</div>
            <div>ТӨЛӨВ</div>
           
        </div>
        <div class="contents">
            <div>000123</div>
            <div>Xvnii garig zuwshuurulgvi bariad zugtssan</div>
            <div>deerem</div>
            <div>Xotin xaa negtee</div>
            <div>margaash</div>
            <div>10000$</div>
            <div>Ireedvid bolno</div>
            <button onclick="dsadsa(this)" id="contents-first-button">НЭЭХ</button>
            <button>ЗАСВАРЛАХ</button>
            <button id="contents-last-button">УСТГАХ</button>
        </div>
    </div>
</body>
</html>