<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/cases_style.css">
</head>
<body>
    <div class="main-content-container">
        <div class="header-buttons">

            <button id="header-button-first">ХЭРГҮҮД</button>
            <button>ШИНЭЭР НЭМЭХ</button>
            <button>FILE татах</button>
            <button id="header-button-fourth">МИНИЙ ХЭРГҮҮД</button>
            <button id="header-button-fifth">МИНИЙ АЖИЛЖАЖ БУЙ</button>
            <button>ИДЭВХИТЭЙ</button>
            <button id="header-button-last">ШИЙДЭГДСЭН</button>

        </div>
        <div id="main-content"></div> 
    </div>
    <div id="about-content">
        <div id="about-content-container">
            <img src="../../assets/closeicon.png" onclick="closeIt()">
        </div>
    </div>
    <script src="../js/cases.js"></script>
</body>
</html>