<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/chat.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <title>chat</title>
  </head>
  <body>
    <div class="container">
      <div class="chat">
        <div class="chat__left">
          <div class="chat__left__header">
            <h3>Chat Message</h3>
          </div>
          <div class="chat__left__content" id="contentMessage">
            <!-- chat messages -->
          </div>
          <div class="chat__left__footer">
            <input type="text" id="inputMsg" placeholder="Type message ..." />
            <div class="btn__group">
              <div>
                <i class="fa fa-paperclip fa-1.5x"></i>
              </div>
              <div>
                <i class="fa fa-smile-o fa-1.5x"></i>
              </div>
              <div>
                <i
                  class="fa fa-paper-plane fa-1.5x"
                  onclick="sendMessage()"
                ></i>
              </div>
            </div>
          </div>
        </div>
        <div class="chat__right">
          <div class="chat__right__header">
            <div class="chat__search">
              <i class="fa fa-search"></i>
              <input type="text" id="searchUser" placeholder="Search" />
            </div>
          </div>
          <div id="userList" class="chat__right__list">
            
          </div>
        </div>
      </div>
    </div>
    <audio id="audio" src="../../assets/Messenger.m4r"></audio>

    <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-auth.js"></script>
    <script src="../js/firebase.js"></script>
    <script>
      // firebase.auth().onAuthStateChanged(function(user) {
      //     checkLogin();
      // });

      var messagesContent = document.getElementById("contentMessage");
      var userList = document.getElementById('userList');

      var messagesData = [];
      var me = "zaya";
      var messagesRef = firebase.database().ref("messages/");
      messagesRef.on("value", function (snapshot) {
        messagesData = Object.values(snapshot.val());
        // console.log(messagesData);
        viewMessage();
      });

      function sendMessage() {
        var today = new Date();
        var time = today.getHours() + ":" + today.getMinutes();
        var day = today.getFullYear() + "-" + today.getMonth() + "-" + today.getDate();
        var msg = document.getElementById("inputMsg").value;

        messagesRef.push({
          uid: "1234",
          name: "azzayaab@gmail.com",
          sender: "zaya",
          day : day,
          time : time,
          message: msg,
          file: "url",
        });
        document.getElementById("inputMsg").value = "";
      }

      function viewMessage() {
        // console.log(messagesData);
        // console.log(messagesContent);
        messagesContent.innerHTML = "";
        for (const message of messagesData) {
          var htmlContent = 
          `<div class="chat__message ${message.sender === me ? "you__message" : "other__message"}">
            <div class="chat__content">
              <img width="50" src="../../assets/user1.jpg" alt=""/>
              <div class="chat__message__text">${
                message.message
              }</div>
              <div class="chat__message__time">${message.day} ${message.time}</div>
            </div>
          </div>`;
          messagesContent.insertAdjacentHTML("beforeend", htmlContent);
          // messagesContent.scrollTop = messagesContent.scrollHeight;
          // console.log('message');
          // console.log(message);
        }

        // scroll hiih
        messagesContent.scrollTop = messagesContent.scrollHeight;

        //  audio togluulah
        // setTimeout(function () {
        //   var audio = document.getElementById("audio").play();
        // }, 200);
      }

//  get currently signed-in user 
      var usersRef = firebase.database().ref("users/");
      var userLogInState;
      var currentUser;
      var onCheck = false;

      firebase.auth().onAuthStateChanged(function(user){
         if(user){
          console.log("current user");
          console.log(user.email);
          currentUser = user;
          setTimeout(updateLogin, 3000, true);
          // userLogInState = true;
          // console.log(userLogInState);
         }else{
          setTimeout(updateLogin, 3000, false);
          console.log('no user did not sign in currently');
          // get the user that logged out ...
         }
      });

      usersRef.on("value", function(snapshot){
        var objects = snapshot.val();
        userLogInState = objects;
        onCheck = true;
        updateUser();
      });

      function updateUser(){
        userList.innerHTML = '';
       for (let i in userLogInState){
        var userHTML = `
        <div class="chat__right__user">
          <img src="../../assets/avatar1.png" alt="" />
          <div>
            <p>${userLogInState[i].name}</p>
            <p class="chat__user ${userLogInState[i].logIn ? "online" : "offline"}">${userLogInState[i].logIn? "Online" : "Offline"}</p>
          </div>
        </div>`;
        userList.insertAdjacentHTML('beforeend', userHTML);
       }
      }

      function updateLogin(state){
        console.log(state);
        console.log(typeof state);
        if(onCheck){
          for(let i in userLogInState){
            if(userLogInState[i].email === currentUser.email){
              usersRef.child(i).update({"logIn" : state});
              console.log('update successful');
            }
          }
        }else{
          console.log('update unsuccessful');
        }
      } 
 
                               
    </script>
    <!-- // <div class="chat__message other__message">
      //       <div class="chat__content">
      //         <img width="40" src="../../assets/user1.jpg" alt="" />
      //         <div class="chat__message__text">
      //           <p>Ok</p>
      //         </div>
      //         <div class="chat__message__time">20:56 PM</div>
      //       </div>
      //     </div> -->
  </body>
</html>
