<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/chat.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <title>chat</title>
  </head>
  <body>
    <div class="container">
      <div class="chat__users">
        <div class="chat__right__header">
          <div class="chat__search">
            <i class="fa fa-search"></i>
            <input type="text" id="searchUser" placeholder="Search" />
          </div>
        </div>
        <div id="userList" class="chat__right__list">
          <!-- user list -->
        </div>
      </div>
      <!-- chat lists -->
      <div class="pChat"></div>
    </div>

    <audio id="audio" src="../../assets/Messenger.m4r"></audio>

    <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-messaging.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-auth.js"></script>
    <script src="../js/firebase.js"></script>
    <script>
      // firebase.auth().onAuthStateChanged(function(user) {
      //     checkLogin();
      // });

      var userList = document.getElementById("userList");
      var chat = document.getElementsByClassName("pChat")[0];
      var notify;
      var countMessanger = [];
      var idd;

      var messagesData = [];
      var me = "zaya";
      var messagesRef = firebase.database().ref("messages/");
      // messagesRef.on("value", function (snapshot) {
      //   // messagesData = Object.values(snapshot.val());
      //   messagesData = snapshot.val();
      //   console.log(messagesData);
      //   if(countMessanger.length > 0){
      //     viewMessage();
      //   }
      //   // console.log("firebase finished");
      // });
      var messagesRefpri = firebase.database().ref("messages/privatescrgL0iiPKRb8l6UKi7h21Tx5zR2");
      messagesRefpri.on("child_added", function (data) {
        console.log("Child Added : ");
        console.log(data.val());
        // messagesData = snapshot.val();
        // console.log(messagesData);
        // if (countMessanger.length > 0) {
        //   viewMessage();
        // }
        // console.log("firebase finished");
      });
      var notificationRef = firebase.database().ref("notification/");
      notificationRef.on('value', function(shot){
        console.log(shot.val());
        notify = shot.val();
        
        // Notification.requestPermission().then(console.log("notification is allowed"));
        if(notify.new){
          alert("new notication");
          notificationRef.update({new : false, from : "", to : "", url: ""});
          doProcess();
        }
      });

      function doProcess(){
        notify 
        var {from, to, url} = notify;
        console.log(from);
        console.log(to);
        console.log(url);
        var suid = url.split("-")[1];
        createChat({name: to, uid : suid});
      }

      function createChat(obj) {
        console.log(obj);
        const privateChat = {
          name: obj.name,
          iud: obj.uid,
        };
       
        // console.log(name.children[1].children[0]);
        if (countMessanger.length >= 4) {
          // countMessanger = 3;
          console.log("overflow");
        } else {
          countMessanger.push(privateChat);
        }
        chat.innerText = "";
        var iid;
        for (let i in countMessanger) {
          var chatHTML = `
            <div class="chat" id="c-${i}">
              <div class="chat__left">
                <div class="chat__left__header">
                  <div class="header__title">
                    <img src="../../assets/avatar1.png" alt="" width="40px" style="border-radius:50%"/>
                    <div id="${countMessanger[i].iud}" class="uuid">${countMessanger[i].name}</div>
                  </div>
                  <i class="fas fa-times"></i>
                </div>
                <div class="chat__left__content" id="contentMessage">
                
                </div>
                <div class="chat__left__footer">
                  <input type="text" id="inputMsg" placeholder="Type message ..." />
                  <div class="btn__group">
                    <div>
                      <i class="fa fa-paperclip fa-1.5x"></i>
                    </div>
                    <div>
                      <i class="fa fa-smile-o fa-1.5x"></i>
                    </div>
                    <div>
                      <i
                        class="fa fa-paper-plane fa-1.5x"
                        onclick="sendMessage()"
                      ></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>`;
          chat.insertAdjacentHTML("beforeend", chatHTML);
          iid = countMessanger[i].id;
        }
        var chatClose = document.getElementsByClassName("chat")[0];
        console.log(chatClose);
        chatClose.addEventListener("click", function (e) {
          var isId = e.target.parentNode.parentNode.parentNode.id;
          if (isId) {
            console.log("chat closed");
          }
        });
        viewMessage(iid);
      }

      function sendMessage() {
        var today = Date.now();
        // var time = today.getHours() + ":" + today.getMinutes();
        var time = new Date(today).toLocaleTimeString();
        // var day = today.getFullYear() + "-" + today.getMonth() + "-" + today.getDate();
        var msg = document.getElementById("inputMsg").value;

        var uidKey = document.querySelector(".uuid").id;
        idd = uidKey;
        // console.log('uidKey');
        // console.log(uidKey);
        // console.log("currentuser name");
        // console.log(currentUser);

        messagesChildRef = messagesRef.child("private-" + uidKey).push({
          uid: uidKey,
          name: "azzaya",
          sender: me,
          email: "azzayab@gmail.com",
          date: time,
          message: msg,
          file: "url",
        });
        notificationRef.update({ from : 'zaya', to : "uka", new : true, url : "private-" + uidKey});

        document.getElementById("inputMsg").value = "";
      }

      function viewMessage(cuid) {
        // console.log(cuid);
        var messagesContent = document.getElementById("contentMessage");
        // console.log(messagesContent);
        messagesContent.innerHTML = "";
        var mData = messagesData[`private-${cuid}`];
        console.log("mData");
        // console.log(mData);
        for (const i in mData) {
          var htmlContent = `<div class="chat__message ${
            mData[i].sender === me ? "you__message" : "other__message"
          }">
            <div class="chat__content">
              <img width="50" src="../../assets/user1.jpg" alt=""/>
              <div class="chat__message__text">${mData[i].message}</div>
              <div class="chat__message__time">${mData[i].date}</div>
            </div>
          </div>`;
          messagesContent.insertAdjacentHTML("beforeend", htmlContent);
        }
        // scroll hiih
        messagesContent.scrollTop = messagesContent.scrollHeight;

        //  audio togluulah
        // setTimeout(function () {
        //   var audio = document.getElementById("audio").play();
        // }, 200);
      }

      //  get currently signed-in user
      var usersRef = firebase.database().ref("users/user");
      var userLogInState;
      var currentUser;
      var onCheck = false;

      // firebase.auth().onAuthStateChanged(function (user) {
      //   if (user) {
      //     console.log("current user");
      //     console.log(user.email);
      //     currentUser = user;
      //     setTimeout(updateLogin, 3000, true);
      //     // userLogInState = true;
      //     // console.log(userLogInState);
      //   } else {
      //     setTimeout(updateLogin, 3000, false);
      //     console.log("no user did not sign in currently");
      //     // get the user that logged out ...
      //   }
      // });

      usersRef.on("value", function (snapshot) {
        var objects = snapshot.val();
        userLogInState = objects;
        onCheck = true;
        updateUser();
      });

      function updateUser() {
        // 
        userList.innerHTML = "";
        for (let i in userLogInState) {
          var userHTML = `
        <div class="chat__right__user" onclick="createChat(${{name : userLogInState[i].name, uid : userLogInState[i].uid}})">
          <img src="../../assets/avatar1.png" alt="" />
          <div>
            <p id="${userLogInState[i].uid}">${userLogInState[i].name}</p>
            <p class="chat__user ${
              userLogInState[i].logIn ? "online" : "offline"
            }">${userLogInState[i].logIn ? "Online" : "Offline"}</p>
          </div>
        </div>`;
          userList.insertAdjacentHTML("beforeend", userHTML);
        }
      }

      // userList.addEventListener('click', function(e){
      //   console.log("user clicked");
      //   console.log(e.target);
      // });

      function updateLogin(state) {
        console.log(state);
        console.log(typeof state);
        if (onCheck) {
          // for(let i in userLogInState){
          //   if(userLogInState[i].email === currentUser.email){
          //     usersRef.child(i).update({"logIn" : state});
          console.log("update successful");
          //   }
          // }
        } else {
          console.log("update unsuccessful");
        }
      }
    </script>
    <!-- // <div class="chat__message other__message">
      //       <div class="chat__content">
      //         <img width="40" src="../../assets/user1.jpg" alt="" />
      //         <div class="chat__message__text">
      //           <p>Ok</p>
      //         </div>
      //         <div class="chat__message__time">20:56 PM</div>
      //       </div>
      //     </div> -->
  </body>
</html>
