
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clients</title>
    <link rel="stylesheet" href="../css/client.css" />
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous"
  />
</head>
<body>
    <div class="background">
        <div class="filter">
            <div id = "filter-container">
                <div id="filterIcon">
                    <i class = "fa fa-filter"></i>
                </div>
                <div>
                    <form>
                        <input id="name-filter" placeholder="Нэрээр шүүх"  oninput="nameFilter()"></input>
                        <input id="phone-filter" placeholder="Утсаар хайх" oninput="phoneFilter()"></input>
                        <input id="company-filter" placeholder="Компаниар шүүх" oninput="companyFilter()"></input>
                    </form> 
                </div>  
            </div>
            
            <div id = "client-file-icons">
                <div id="add-table">
                    <div id = "addtable-icon-container">
                        <i class = "fa fa-plus-square"></i>
                    </div>
                    <div id="tooltip-item-add">
                        <span id="tooltip-item-text-add">
                            Хэрэглэгч нэмэх
                        </span>
                    </div>
                </div>
                <div id="export">
                    <div id = "export-icon-container">
                        <i class = "fa fa-file-excel-o" onclick = "exportFile('client-table')"></i> 
                    </div>
                    <div id="tooltip-item-export">
                        <div id="tooltip-item-text-export">
                            Файл үүсгэх
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <p></p>
        <div id = "case-container">
            <div class="case"> Хэрэглэгчид
                <hr class="case-text">              
                <form class="show-entries" onclick="selectedEntries()">
                    <label for="entries">Харуулах</label>
                        <select name="entries" id="entries">
                            <option placeholder="Сонголт">Сонгох</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">Бүгд</option>
                            
                        </select>
                    <span>бичилтүүд</span>
                </form>
            </div>
        </div>
        
        <div id = "data-container">
            <div id="data-content"></div>
        </div>
        <div class="pagination-container">
            <span id="page">
                
            </span>
            <div id="pagination">
                <span id = "btn-prv" onclick="prevClicked()">&laquo;</span> 
                <span id = "btn-pages"></span>
                <span id = "btn-next" onclick="nextClicked()">&raquo;</span>
            </div>
        </div>
        
    </div>
    <div id="view-background" >
        <div id="view-client">
            <div class="closeIcon">
                <img src="../../assets/closeicon.png" onclick="closeIt()">
            </div>
            <div>
                <div id="view-client-edit">
                </div>
            </div>
        </div>
    </div>
    <script src="../js/client.js"></script>
</body>
</html>
