<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
    <link rel="stylesheet" href="../css/invoice.css">
</head>
<body>
    <div class="invoice-main-content-container">
      <div class="header-buttons">
        <button id="download-invoice">Download</button>
        <button id="print-invoice">Print</button>
        <hr>
      </div>
      <div class="invoice-header">
        <span>Invoice</span>
        <span>2020.02.02</span>
        <hr>
      </div>
      <div class="name-content-container">
        <div class="name-content-left">
          <span>Хаанаас</span>
          <br>
          <span>MonLaw</span>
          <br>
          <span>Direction: #504, Meru Tower, Jamiyan Gun Street 18-2, </span>
          <br>
          <span>14210 Sukhbaatar District, 1st Khoroo Ulaanbaatar, Mongolia</span>
          <br>
          <span> Mail: Info@nest.edu.mn Phone: +976 7507-7500</span>
        </div>
        <div class="name-content-right">
          <span>Хаана</span>
          <br>
          <span>Манай гэрийн мууранд</span>
          <br>
          <span>Direction: #504, Meru Tower, Jamiyan Gun Street 18-2, </span>
          <br>
          <span>14210 Sukhbaatar District, 1st Khoroo Ulaanbaatar, Mongolia</span>
          <br>
          <span> Mail: Info@nest.edu.mn Phone: +976 7507-7500</span>
        </div>
      </div>
      <hr>
      <div class="name-content-bordered">
        <span>invoice #12132</span>
        <span>order id: 151515</span>
        <span>payment Due: 2020.02.20</span>
        <span>account: 2315112132</span>
      </div>
      <div class="tableContent">
        <table>
          <thead>
            <tr>
              <th>Service Typee</th>
              <th>Serial</th>
              <th>Quantity</th>
              <th>Unit cost</th>
              <th>Tax </th>
              <th>Subtotal</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-column="Service Type">Audit</td>
              <td data-column="Serial">Matman</td>
              <td data-column="Quantity">1,000,000</td>
              <td data-column="Unit cost">2</td>
              <td data-column="Tax">100,000</td>
              <td data-column="Subtotal">2,100,000</td>
            </tr>
            <tr>
              <td data-column="Service Type">Audit</td>
              <td data-column="Serial">Matman</td>
              <td data-column="Quantity">1,000,000</td>
              <td data-column="Unit cost">2</td>
              <td data-column="Tax">100,000</td>
              <td data-column="Subtotal">2,100,000</td>
            </tr>
            <tr>
              <td data-column="Service Type">Audit</td>
              <td data-column="Serial">Matman</td>
              <td data-column="Quantity">1,000,000</td>
              <td data-column="Unit cost">2</td>
              <td data-column="Tax">100,000</td>
              <td data-column="Subtotal">2,100,000</td>
            </tr>
            <tr>
              <td data-column="Service Type">Audit</td>
              <td data-column="Serial">Matman</td>
              <td data-column="Quantity">1,000,000</td>
              <td data-column="Unit cost">2</td>
              <td data-column="Tax">100,000</td>
              <td data-column="Subtotal">2,100,000</td>
            </tr>
            <tr>
              <td data-column="Service Type">Audit</td>
              <td data-column="Serial">Matman</td>
              <td data-column="Quantity">1,000,000</td>
              <td data-column="Unit cost">2</td>
              <td data-column="Tax">100,000</td>
              <td data-column="Subtotal">2,100,000</td>
            </tr>
            <tr>
              <td data-column="Service Type">Audit</td>
              <td data-column="Serial">Matman</td>
              <td data-column="Quantity">1,000,000</td>
              <td data-column="Unit cost">2</td>
              <td data-column="Tax">100,000</td>
              <td data-column="Subtotal">2,100,000</td>
            </tr>
          </tbody>
        </table>
      </div>   
    </div>
    <script src="../js/invoice.js"></script>
</body>
</html>