<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/monlaw_login2.css"/>
  
  <title>login</title>
</head>

<body>
  <div class="box">
    <div class="left">
      <div class="small_box">
        <div class="icon_image">
          <img src="../../assets/zurag20.png" id="pic3" width="40px" height="40px" />
          <img src="../../assets/zurag21.png" id="pic1" width="40px" height="40px" />
          <img src="../../assets/zurag22.png" id="pic2" width="40px" height="40px" />
        </div>
        <div class="aa">
          <hr />
          <div class="welcome">
            <p>Нэвтрэх</p>
          </div>
          <hr />
        </div>
        <div class="form_user">
          <input id="eror" type="text" minlength="6" maxlength="25" placeholder="Нэвтрэх нэр" />
          <div class="false hide"></div>
        </div>
        <div class="form_password">
          <input id="permitt" type="password" minlength="6" maxlength="16" placeholder="Нууц үг" />
          <div class="false hide"></div>
        </div>

        <div id="forget">
          <div id="idd"><button>Нууц үг мартсан</button></div>
          <div class="towch" onclick="signIn()">
            <button>Үргэлжүүлэх</button>
          </div>
          <div class="towch" id="aaaa">
            <button type="button">
              <a href="/create_register2.html">Бүртгүүлэх</a>
            </button>
          </div>
        </div>
      </div>
      <!-- right section -->
    </div>
    <div class="right">
      <img src="../../assets/zurag16.jpeg" width="100%" height="700px" />
    </div>
  </div>
  <script src="../js/donwload.login.js"></script>
  <!-- <script>
    function signIn() {
      var el = document.getElementById("eror");
      if (el.value === "") {
        showError("Нэвтрэх нэр оруулна уу!");
      }
    }
    function signIn() {
      var er = document.getElementById("permitt");
      if (er.value === "") {
        showError("Нууц үг оруулна уу");
      }
    }
    var el = document.getElementsByClassName("false");
    function signIn() {
      var els = document.getElementById("eror");
      var ers = document.getElementById("permitt");
      if (els.value === "") {
        showError("Нэвтрэх нэр оруулна уу!", 0);
      } else {
        el[0].classList.add("hide");
      }

      if (ers.value === "") {
        showError("Нууц үг оруулна уу!", 1);
      } else {
        el[1].classList.add("hide");
        if (
          ers.value.length >= 6 &&
          ers.value.length <= 25 &&
          els.value.length >= 6 &&
          els.value.length <= 25
        ) {
          console.log("Login Successfully.");
          // End daraagiin huudas aa duudna
        } else {
          console.log("Length : " + els.value.length);
          console.log("Length : " + ers.value.length);
          showError(
            "Нэр ба нууц үг 6 тэмдэгтээс илүү 25 тэмдэгтээс бага тэмдэгт байх ёстой !!!",
            1
          );
          console.log("Login UnSuccessfully.");
        }
      }
    }
    function showError(message, type) {
      username = el[0];
      password = el[1];
      if (type === 0) {
        username.innerText = message;
        username.classList.remove("hide");
      } else {
        password.innerText = message;
        password.classList.remove("hide");
      }
    }
  </script> -->

  <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-auth.js"></script> 
  <script src="../js/firebase.js"></script>
  <script>
        function login(){
            var email = document.getElementById('eror').value;
            var pass = document.getElementById('permitt').value;

            firebase.auth().signInWithEmailAndPassword(email, pass).then(function(){
                window.location = "chat.html?v=" + Math.random();
            }).catch(function (error){
                alert(error.code + ':' + error.message);
            });
        }
  </script>
</body>

</html>