<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>МОН-ХУУЛЬ Систем</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../../src/css/task.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    
  
  </head>
  <body class="light">
    <!-- Start of Container -->
    <div class="container">
      <!-- Start of Navbar -->
      <nav class="navbar">
        <div class="navbar__left">
          <i class="fa fa-bars" onclick="toggleSidebar()"></i>
        </div>
        <div class="navbar__right">
          <div>
            <i class="fa fa-moon-o switchIcon" onclick="switchTheme()"></i>
          </div>
          <div class="notification">
            <div>
              <i
                class="fa fa-bell dropdown-toggle"
                data-toggle="notification__id"
              ></i>
              <!-- <span class="navbar-badge">10</span> -->
            </div>
            <div class="notification__id">
              <div class="notification__header">
                <h4>Мэдэгдэл</h4>
                <h5>Бүгдийг арилгах</h5>
              </div>
              <ul class="notification__ul">
                <li>
                  <div class="notification__icon">
                    <img width="50" src="../../assets/avatar1.png" alt="" />
                    <span class="notification__icon__status"></span>
                  </div>
                  <div class="notification__data">
                    <h4>Lorem ipsum dolor sit amet.</h4>
                    <p>Emily : <span>58m</span></p>
                  </div>
                </li>
                <li>
                  <div class="notification__icon">
                    <img width="50" src="../../assets/avatar2.png" alt="" />
                    <span class="notification__icon__status"></span>
                  </div>
                  <div class="notification__data">
                    <h4 class="notification__title">
                      Lorem ipsum dolor sit amet.
                    </h4>
                    <p class="notification__content">
                      Emily : <span>58m</span>
                    </p>
                  </div>
                </li>
                <div class="notification__footer">
                  <p>Бүгдийг харах</p>
                </div>
              </ul>
            </div>
          </div>
          <div class="messages">
            <div>
              <i
                class="fa fa-envelope dropdown-toggle"
                data-toggle="messages__id"
              ></i>
            </div>
            <div class="messages__id">
              <div class="messages__header">
                <h4>Мессеж</h4>
                <h5>Бүгдийг арилгах</h5>
              </div>
              <ul class="messages__ul">
                <li>
                  <div class="messages__icon">
                    <img width="50" src="../../assets/avatar1.png" alt="" />
                    <span class="messages__icon__status"></span>
                  </div>
                  <div class="messages__data">
                    <h4>Lorem ipsum dolor sit amet.</h4>
                    <p>Emily : <span>58m</span></p>
                  </div>
                </li>
                <li>
                  <div class="messages__icon">
                    <img width="50" src="../../assets/avatar2.png" alt="" />
                    <span class="messages__icon__status"></span>
                  </div>
                  <div class="messages__data">
                    <h4 class="messages__title">Lorem ipsum dolor sit amet.</h4>
                    <p class="messages__content">Emily : <span>58m</span></p>
                  </div>
                </li>
                <div class="messages__footer">
                  <p>Бүх мессеж харах</p>
                </div>
              </ul>
            </div>
          </div>
          <div class="profile">
            <div>
              <img
                class="dropdown-toggle"
                data-toggle="profile__id"
                width="30"
                src="../../assets/judge.svg"
                alt="judge"
              />
            </div>
            <div class="profile__id">
              <div class="profile__header">
                <img width="70" src="../../assets/avatar3.png" alt="" />
                <div>
                  <h4>User name</h4>
                  <small>email</small>
                </div>
              </div>
              <ul class="profile__ul">
                <li>
                  <i class="fa fa-user"></i>
                  <h5>Миний профайл</h5>
                </li>
                <li>
                  <i class="fa fa-cog"></i>
                  <h5>Тохиргоо</h5>
                </li>
                <li>
                  <i class="fa fa-power-off"></i>
                  <h5>Гарах</h5>
                </li>
                <div class="profile__footer">
                  <button>Профайл харах</button>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <!-- End of Navbar -->
      <!-- Start of Main section -->
      <section class="main">
        <div class="main__container">
          <!-- Start of Change Code -->
          <div class="task">
            <div class="task-head">
                <div>
                    <button><i class="fa fa-plus" onclick="taskNewButton()">&nbsp;Таск нэмэх</i>
                    </button>
                </div>
            </div>
            <div class="task-container">
                <div class="task-open-col">
                    <div class="task-open">
                        <p>Open</p>
                    </div>
                    <div id="task-open-add">
                    </div>
                </div>
                <div class="task-progress-col">
                    <div class="task-progress">
                        <p>In Progress</p>
                    </div>
                    <div id="task-progress-add">
                    </div>
                </div>
                <div class="task-completed-col">
                    <div class="task-completed">
                        <p>Completed</p>
                    </div>
                    <div id="task-completed-add">
                    </div>
                </div>
                <div id="task-add-container">
                    <div class="task-add-form">
                        <div><i class="fa fa-times" title="Close" onclick="taskClose()"></i></div>
                        <form >
                            <input placeholder="Ажлын нэр" id="taskAddInput"> 
                        </form>
                        <div id="task-icons">
                            <span class="task-priority">
                                <i class="fa fa-flag" title="Priority" onclick = "taskPriority()"></i>
                                <div class="priority-group">
                                    <div class="task-priority-high">
                                        &nbsp;&nbsp;<i class="fa fa-flag"></i>
                                        <span>&nbsp;&nbsp;Urgent</span>
                                    </div>
                                    <hr>
                                    <div class="task-priority-normal">
                                        &nbsp;&nbsp;<i class="fa fa-flag"></i>
                                        <span>&nbsp;&nbsp;Normal</span>
                                    </div>
                                    <hr>
                                    <div class="task-priority-low">
                                        &nbsp;&nbsp;<i class="fa fa-flag"></i>
                                        <span>&nbsp;&nbsp;Low</span>
                                    </div>
                                </div>
                            </span>
                            <span id="task-status" title="Task Status" onclick="taskStatus()">
                                <i class="fa fa-clock-o"></i>
                                <div class="status-group">
                                    <div class="task-status-open">
                                        &nbsp;&nbsp;<i class="fa fa-clock-o"></i>
                                        <span>&nbsp;&nbsp;Open</span>
                                    </div>
                                    <hr>
                                    <div class="task-status-progress">
                                        &nbsp;&nbsp;<i class="fa fa-clock-o"></i>
                                        <span>&nbsp;&nbsp;In Progress</span>
                                    </div>
                                    <hr>
                                    <div class="task-status-completed">
                                        &nbsp;&nbsp;<i class="fa fa-clock-o"></i>
                                        <span>&nbsp;&nbsp;Completed</span>
                                    </div>
                                </div>
                            </span>
                            <span id="task-start" title="Start day" onclick="taskStart()">
                                <i class="fa fa-calendar-check-o"></i>
                                <div>
                                    <input type="date" value="" id="task-startday">
                                </div>
                            </span>
                            <span class="task-due" title="Due day">
                                <i class="fa fa-calendar-times-o"></i>
                                <div>
                                    <input type="date" value="" id="task-dueday">
                                </div>
                            </span>
                            <span class="task-delete" title="Delete">
                                <i class="fa fa-trash-o "></i>
                                
                            </span>
                            <button id="taskSave" onclick="taskSaveButton()">Хадгалах</button>
        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
      </section>
      <!-- End of Main section -->
      <!-- Sidebar Menu -->
      <aside id="sideBar" style="width: 17rem" class="sidebar">
        <div class="sidebar__title">
          <div class="sidebar__img">
            <img src="../../assets/logoML.png" alt="Logo" />
            <h1>МОН-ХУУЛЬ</h1>
          </div>
          <i class="fa fa-times" id="sidebarIcon" onclick="closeSidebar()"></i>
        </div>
        <ul class="sidebar__menu">
          <li class="sidebar__menu__item">
            <a class="sidebar__menu__link">
              <i class="fa fa-home"></i>
              <span>Үндсэн Самбар</span>
            </a>
          </li>
          <!-- <h3>Мэдээлэл</h3> -->
          <li class="sidebar__menu__item">
            <a class="sidebar__menu__link active" href="#">
              <i class="fa fa-user-secret"></i>

              <span> Миний самбар</span>
            </a>
          </li>
          <li class="sidebar__menu__item">
            <a class="sidebar__menu__link" href="#">
              <i class="fa fa-building-o"></i>
              <span>Компани</span>
            </a>
          </li>
          <li class="sidebar__menu__item">
            <a class="sidebar__menu__link" href="#">
              <i class="fa fa-gavel"></i>
              <span>Хэргүүд</span>
            </a>
          </li>
          <li class="sidebar__menu__item">
            <a class="sidebar__menu__link" href="./components/client.html">
              <i class="fa fa-users"></i>

              <span> Хэрэглэгчид </span>
            </a>
          </li>
          <li class="sidebar__menu__item">
            <a class="sidebar__menu__link" href="#">
              <i class="fa fa-question"></i>
              <span> Хүсэлтүүд </span>
            </a>
          </li>
          <li class="sidebar__menu__item">
            <a class="sidebar__menu__link" href="#">
              <i class="fa fa-tasks"></i>
              <span> Дотоод журам </span>
            </a>
          </li>
          <li class="sidebar__menu__item">
            <a class="sidebar__menu__link" href="#">
              <i class="fa fa-file"></i>
              <span> Дотоод файл </span>
            </a>
          </li>
          <!-- <h3>Санхүү</h3> -->
          <li class="sidebar__menu__item">
            <a class="sidebar__menu__link" href="#">
              <i class="fa fa-money"></i>
              <span> Цалин </span>
            </a>
          </li>
          <li class="sidebar__menu__item">
            <a class="sidebar__menu__link" href="#">
              <i class="fa fa-briefcase"></i>
              <span> Нэхэмжлэх </span>
            </a>
          </li>
          <li class="sidebar__menu__item">
            <a
              class="sidebar__menu__link"
              href="./components/monlaw_login.html"
            >
              <i class="fa fa-power-off"></i>
              <span>Log out</span>
            </a>
          </li>
        </ul>
      </aside>
      <!-- End of Sidebar Menu -->
    </div>
    <!-- End of Main container -->

    <!-- We Will use apex charts cdn and JS link -->
    <!-- FIrebase setting script -->
    <script src="https://www.gstatic.com/firebasejs/8.0.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.2/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.2/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.2/firebase-analytics.js"></script>
    <script src="./js/firebase.js"></script>
    <!-- FIrebase setting script -->
    <!-- Additional js libraries -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <!-- Additional js libraries -->
    <script src="../js/app.js"></script>
    <script src="../js/task.js"></script>
  </body>
</html>






