<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="../../src/css/todo.list.css" />
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous"
    />
</head>

<body>
    <div class="task">
        <div class="task-head">
            <h3 id="text_one">filter by task name...</h3>
            <h3 id="text_two">Sort by...</h3>
            <h3 id="text_three">Group by:status...</h3>
            <h3 id="text_four">Sort by...</h3>
            <div>
                <i class="fa fa-plus"></i>
            </div>
        </div>
        <div class="task-container">
            <div class="task-open-col">
                <div class="task-open">
                    <p>Open</p>
                </div>
                <div class="task-open-add">
                    
                </div>
            </div>
            <div class="task-progress-col">
                <div class="task-progress">
                    <p>In Progress</p>
                </div>
                <div class="task-progress-add">
                </div>
            </div>
            <div class="task-completed-col">
                <div class="task-completed">
                    <p>Completed</p>
                </div>
                <div class="task-completed-add">
                </div>
            </div>
        </div>
    </div>
    <script src="../js/task.js"></script>
</body>

</html>