<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo LisT</title>
    <link rel="stylesheet" href="../../src/css/todo.list.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
</head>

<body>
    <div id="task-background">
        <div class="text_click">
            <h3 id="text_one">filter by task name...</h3>
            <h3 id="text_two">Sort by...</h3>
            <h3 id="text_three">Group by:status...</h3>
            <h3 id="text_four">Sort by...</h3>
        </div>
        <div class="big_box">
            <!-- 1 dugeeer heseg neelttei section DIV1 -->
            <div class="item1">
                <div class="item1_1">
                    <p>Open</p>
                    <img src="../../assets/plus.png" id="ic" width="35px" height="35px">
                </div>
                <div id="new-task-board">
                    <form id="frm">
                        <input placeholder="Даалгаврын нэр">
                    </form>
                    <div id="task-icons">
                        <div class="task-priority" onclick="taskPriority()">
                            <i class="fa fa-flag"></i>
                            <div id="task-priority-status">
                                <div class="task-priority-high">
                                    <div class="btnGroup">
                                        <i class="fa fa-flag textRed"></i>
                                        <span>Яаралтай</span>
                                    </div>
                                    <hr>    
                                </div>
                                <div id="task-priority-normal">
                                    <div>
                                        <i class="fa fa-flag"><span>Хэвийн</span></i>
                                    </div>
                                    <hr>
                                </div>
                                <div id="task-priority-low">
                                    <i class="fa fa-flag"><span>Удаан</span></i>
                                </div>
                            </div>
                        </div> 
                        <span id="task-check" onclick="taskStatus()">
                            <i class="fa fa-check-square-o"></i>
                        </span> 
                        <span id="task-start">
                            <i class="fa fa-calendar-check-o"></i>
                        </span>
                        <span id="task-due">
                            <i class="fa fa-calendar-times-o" ></i>
                        </span>
                        <button id="task-save" onclick="saveTask()">Хадгалах</button>
                    </div>
                    
                </div>
                
                <div id="task-status">
                    <div id="open" ><i class="fa fa-folder-open-o"><span>Нээгдсэн</span></i></div>
                    <hr id="task-line">
                    <div id="in-progress"><i class="fa fa-spinner"><span>Хийгдэж буй</span></i></div>
                    <hr id="task-line">
                    <div id="closed"><i class="fa fa-check"><span>Дууссан</span></i></div>
                </div>
                <div id="create-open">
                   
                </div>
               
            </div>
    
            <!-- 3section -->
            <div class="item3">
                <div class="item3_1">
                    <p>In Progress</p>
                    <img src="../../assets/purple.plus.png" id="ic3" width="35px" height="35px">
                </div>
                <div id= "create-progress">

                </div>
            </div>
           

    
            <!-- 4 section -->
            <div class="item4">
                <div class="item4_1">
                    <p>Completed</p>
                    <img src="../../assets/yellow.plus.png" id="ic4" width="35px" height="35px">
                </div>
                <div id= "create-completed">

                </div>
                
            </div>
        </div>
    </div>
    <script src="../js/task.js"></script>
</body>

</html>