* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    margin: 0%;
    padding: 0%;
}
.main-content-container{
    position: relative;
    margin-top: 100px;
    width: 90%;
    height: 100vh;
    background-color: rgb(236, 234, 234) ;  
    margin-left: auto;
    margin-right: auto;
}
.header-buttons{
    padding-top: 10px;
    height: 40px;
    display: flex;
    
    
}
.header-buttons button{
    
    border-style: none;
    background-color: tomato;
    height: 100%;
    margin: 0%;
    padding: 0%;
    width: 10%;
    outline-style: none;
    flex-wrap: wrap;
    transition: background-color 0.4s;
    
}
#header-button-fourth{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
#header-button-fifth{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-left: 20%;
}
.header-buttons button:hover{

    background-color: lightsalmon;
    
}

#header-button-first{
    margin-left: 5%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
#header-button-last{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.cat-names{

    display: flex;
    width: 100%;
    height: 40px;
   
}
.cat-names > div{
    padding-top: 10px;
    flex-wrap: wrap;
    width: 11%;
    height: 100%;
    border: 1px solid lightgray;
    margin-left: 5px;
    font-size: 12px;

   
}
.cat-names div:first-child{
    margin-left: 15px;
    flex-wrap: wrap;
    width: 8%;
    height: 100% ;
}

.contents>button{
    font-size: 10px;
    margin-top: 5px;
    border: none;
    width: 80px;
    height: 30px;
    transition: color 0.3s;
    background-color: tomato;
    border-right: 1px solid gray;
}
.contents button:hover{
    background-color: lightsalmon;
}
#contents-first-button{
    margin-left: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#contents-last-button{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.contents{
    display: flex;
    width: 100%;
    border-top: 1px solid gray;
   
}
.contents > div{
    padding-top: 10px;
    flex-wrap: wrap;
    width: 11%;
    height: 100%;
   border-right: 1px solid lightgray;
   margin-left: 5px;
   font-size: 12px;
    
   
}
.contents div:first-child{
    margin-left: 15px;
    flex-wrap: wrap;
    width: 8%;
    height: 100% ;
}

table th{
    
    
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(194, 194, 194);;
    font-size: 14px;
    height: 25px;

}
#about-content-container th {
    background-color: green;
}
table{
    border-collapse: collapse;
    margin-top: 5px;
    border-spacing: 0;
    width: 100%;
    text-align: center;
}

#main-content tr:nth-child(even) {
    background-color: #f2f2f2;
}

#main-content tr:hover {
    background-color: #ddd;
}

table td{
   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    height: 25px;

}
table td button{
    color:white;
    width: 90%;
    height: 25px;
    font-size: 8px;
    border: none;
    border-radius: 2px;
}
table tr:nth-child(2){
    margin-top: 10px;
}

#main-content{
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    
}
#view-button{
    border: 3px solid rgb(53, 158, 53);
    background-color:rgb(53, 158, 53);
    outline: none;
    cursor: pointer;
}
#view-button:hover{
    
    color:black;
    background-color: white;
    outline: none;
}
#edit-button{
    border: 3px solid rgb(109, 109, 238);
    background-color: rgb(109, 109, 238);
    outline: none;
    cursor: pointer;
}
#edit-button:hover{
    
    color:black;
    background-color: white;
}
#appoint-button{
    border: 3px solid orange;
    background-color: orange;
    cursor: pointer;
}
#appoint-button:hover{
    
    color:black;
    background-color: white;
}
#about-content{
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color:rgba(0, 0, 0, 0.1);
}
#about-content-container{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 100vh;
    background-color: white;
}

#about-content-container img{
    width: 15px;
    position: absolute;
    top:108px;
    left:88%;
}
table tr{
    margin-top: 10px;
}