* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    margin: 0%;
    padding: 0%;
}
.main-content-container{
    position: relative;
    margin-top: 100px;
    width: 90%;
    height: 100vh;
    background-color: rgb(245, 245, 245) ;  
    margin-left: auto;
    margin-right: auto;
}
.header-buttons{
    height: 40px;
    display: flex;
    padding-top: 10px;
}
.header-buttons button{
    
    color: #3b5999;
    border-style: none;
    border-top: 0.3px solid #3b5999;
    border-bottom: 0.3px solid #3b5999;
    background-color: white;
    height: 100%;
    margin: 0%;
    padding: 0%;
    width: 10%;
    outline-style: none;
    flex-wrap: wrap;
    transition: background-color 0.4s;
    
}
.header-buttons button:focus {
    color: white;
    background-color: #3b5999;

}

#header-button-fourth{
    border-right: 0.3px solid #3b5999;
    border-left: 0.3px solid #3b5999;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 12%;
}
#header-button-fifth{
    width: 12%;
    border-left: 0.3px solid #3b5999;
    border-right: 0.3px solid #3b5999;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-left: 14%;
}
.header-buttons button:hover{
    color: white;
    background-color: #3b5999;
    
}
.header-buttons :nth-child(2){
    border-right: 0.3px solid #3b5999;
    width: 12%;
}
.header-buttons :nth-child(3){
    
    width: 12%;
}
.header-buttons :nth-child(7){
    
    width: 12%;
}
#header-button-first{
    border-left: 0.3px solid #3b5999;
    border-right: 0.3px solid #3b5999;
    margin-left: 3%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#header-button-last{
    border-left: 0.3px solid #3b5999;
    border-right: 0.3px solid #3b5999;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 12%;
}
.cat-names{
    
    
    display: flex;
    width: 100%;
    height: 40px;
   
}
.cat-names > div{
    padding-top: 10px;
    flex-wrap: wrap;
    width: 11%;
    height: 100%;
   border: 1px solid lightgray;
   margin-left: 5px;
   font-size: 12px;
    
   
}
.cat-names div:first-child{
    margin-left: 15px;
    flex-wrap: wrap;
    width: 8%;
    height: 100% ;
}

.contents>button{
    font-size: 10px;
    margin-top: 5px;
    border: none;
    width: 80px;
    height: 30px;
    transition: color 0.3s;
    background-color: tomato;
    border-right: 1px solid gray;
}
.contents button:hover{
    background-color: lightsalmon;
}
#contents-first-button{
    margin-left: 5px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#contents-last-button{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.contents{
    display: flex;
    width: 100%;
    border-top: 1px solid gray;
   
}
.contents > div{
    padding-top: 10px;
    flex-wrap: wrap;
    width: 11%;
    height: 100%;
   border-right: 1px solid lightgray;
   margin-left: 5px;
   font-size: 12px;
    
   
}
.contents div:first-child{
    margin-left: 15px;
    flex-wrap: wrap;
    width: 8%;
    height: 100% ;
}

table th{
    
    
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(230, 230, 230);;
    font-size: 14px;
    height: 25px;

}
#about-content-container th {
    background-color: green;
}
table{
    margin-top: 5px;
    border-spacing: 0;
    width: 100%;
    text-align: center;
}
table td{
   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    height: 25px;

}
table td button{
    color:white;
    width: 90%;
    height: 25px;
    font-size: 11px;
    border: none;
    border-radius: 2px;
}
table tr:nth-child(2){
    margin-top: 10px;
}

#main-content{
    background-color: white;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    
}
#view-button{
    border: 0.3px solid #3b5999;
    color: #3b5999;
    background-color:white;
    transition: background-color 0.4s;
    
}
#view-button:hover{
    background-color: #3b5999;
    color: white;
}
#edit-button{
    border: 0.3px solid #5076c9;
    transition: background-color 0.4s;
    background-color: white;
    color: #5076c9;

}
#edit-button:hover{
    color: white;
    background-color: #5076c9;
}
#appoint-button{
    transition: background-color 0.4s;
    background-color: orange;
}
#appoint-button:hover{
    background-color: rgb(201, 127, 30);
}
#about-content{
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color:rgba(0, 0, 0, 0.1);
}
#about-content-container{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 100vh;
    background-color: white;
}

#about-content-container img{
    width: 15px;
    position: absolute;
    top:108px;
    left:88%;
}

table tr{
    margin-top: 10px;
}
table tr:first-child th:first-child{
    width: 4%;
}
table tr:first-child th:nth-child(2){
    width: 15.5%;
}
table tr:first-child th:nth-child(3){
    width: 9.5%;
}
table tr:first-child th:nth-child(4){
    width: 12.5%;
}
table tr:first-child th:nth-child(5){
    width: 9.5%;
}
table tr:first-child th:nth-child(6){
    width: 8%;
}
table tr:first-child th:nth-child(7){
    width: 11%;
}
table tr:first-child th:nth-child(8){
    width: 8%;
}
