* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    margin: 0%;
    padding: 0%;
}
.main-content-container{
    margin-top: 100px;
    width: 80%;
    height: 500px;
    background-color: rgb(236, 234, 234) ;  
    margin-left: auto;
    margin-right: auto;
}
.header-buttons{
    height: 30px;
    display: flex;
    
}
.header-buttons button{
    border-style: none;
    background-color: tomato;
    height: 100%;
    margin: 0%;
    padding: 0%;
    width: 14.3%;
    outline-style: none;
    flex-wrap: wrap;
    transition: background-color 0.4s;
    
}
.header-buttons button:hover{

    background-color: lightsalmon;
    
}

#header-button-first{
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
#header-button-last{
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.cat-names{
    
    
    display: flex;
    width: 100%;
    height: 40px;
   
}
.cat-names > div{
    padding-top: 10px;
    flex-wrap: wrap;
    width: 11%;
    height: 100%;
   border: 1px solid lightgray;
   margin-left: 5px;
   font-size: 12px;
    
   
}
.cat-names div:first-child{
    margin-left: 15px;
    flex-wrap: wrap;
    width: 8%;
    height: 100% ;
}

.contents>button{
    font-size: 10px;
    margin-top: 5px;
    border: none;
    width: 80px;
    height: 30px;
    transition: color 0.3s;
    background-color: tomato;
    border-right: 1px solid gray;
}
.contents button:hover{
    background-color: lightsalmon;
}
#contents-first-button{
    margin-left: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#contents-last-button{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.contents{
    display: flex;
    width: 100%;
    border-top: 1px solid gray;
   
}
.contents > div{
    padding-top: 10px;
    flex-wrap: wrap;
    width: 11%;
    height: 100%;
   border-right: 1px solid lightgray;
   margin-left: 5px;
   font-size: 12px;
    
   
}
.contents div:first-child{
    margin-left: 15px;
    flex-wrap: wrap;
    width: 8%;
    height: 100% ;
}

table th{
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(209, 207, 207);
    font-size: 14px;
    height: 25px;
}
table{
    width: 100%;
    text-align: center;
}
table td{
    border-bottom: 0.5px solid rgb(194, 194, 194);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    border: 0.5 solid grey;
    height: 25px;

}
table td button{
    color:white;
    width: 90%;
    height: 25px;
    font-size: 8px;
    border: none;
    border-radius: 2px;
}


#main-content{
    margin-top: 20px;
    
}
#view-button{
    background-color:rgb(53, 158, 53);
    transition: background-color 0.4s;
}
#view-button:hover{
    background-color:rgb(45, 136, 45);
}
#edit-button{
    transition: background-color 0.4s;
    background-color: rgb(109, 109, 238);
}
#edit-button:hover{
    background-color: rgb(88, 88, 209);
}
#appoint-button{
    transition: background-color 0.4s;
    background-color: orange;
}
#appoint-button:hover{
    background-color: rgb(201, 127, 30);
}

