* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Courier New", Courier, monospace;
  height: 100%;
  background: linear-gradient(to right, #57c1eb 0%, #246fa8 100%);
}
body {
  display: grid;
  place-items: center;
}
.container {
  min-width: 800px;
  max-width: 900px;
  max-height: 500px;
  height: 95vh;
  background: #ffffff;
  border: 1px solid gray;
}

.chat {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.chat__left {
  border: 1px solid tomato;
}
.chat__left__header {
  height: 10%;
  padding: 0 15px;
  border: 1px solid tomato;
  display: flex;
  align-items: center;
  background: #f9fafb;
}
.chat__left__header > h3 {
  color: #455a64;
}
.chat__left__content {
  height: 80%;
  border: 1px solid tomato;
  padding: 0 15px;
  display: flex;
  flex-direction: column-reverse;
}

.chat__message {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 70%;
}

.chat__content {
  display: grid;
}

.you__message .chat__content {
  grid-template-columns: 48px 1fr;
  grid-column-gap: 10px;
}

.other__message .chat__content {
  grid-template-columns: 48px 1fr;
  grid-column-gap: 10px;
}

.chat__content img {
  border-radius: 100%;
  grid-row: span 2;
}

.chat__message__text {
  padding: 9px 14px;
  font-size: 15px;
  margin-bottom: 5px;
}

.chat__message__time {
  font-size: 14px;
  color: #777;
}
.you__message {
  justify-content: end;
  justify-items: end;
}
.other__message {
  justify-content: start;
  justify-items: start;
}
.you__message .chat__message__text {
  background: #0048aa;
  color: #eee;
  border: 1px solid #0048aa;
  border-radius: 14px 14px 0 14px;
}
.other__message .chat__message__text {
  background: #eee;
  color: #111;
  border: 1px solid #eee;
  border-radius: 14px 14px 14px 0;
}
.chat__left__footer {
  height: 10%;
  padding: 0 15px;
  border: 1px solid tomato;
  display: flex;
  align-items: center;
}

.chat__right {
  border: 1px solid tomato;
}
