
.background{
    background-color: rgb(236, 234, 234);
    margin: 5%;
    padding: 1%;
    height: 100%;
}
.add-new, .export{
    width: 7%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    border-radius: 3px;
    border: none;
    position: relative;
    left: 85%;
}
#form-background, #view-background{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.4);
    display: none;
    z-index: 2;
    cursor: pointer;
    top:0;
    
}
#form {
    width: 60%;
    background-color: white;
    position: absolute;
    top:15%;
    left:15%;
    text-align: center;
    border-radius: 2px;
    
}
.add-new{
    background-color: #1cc88a;
}
.export{
    background-color: #fe9365;
}
.filter{
    display: flex;
    gap: 30px;
    background-image:url("filtericon.png");
    background-repeat: no-repeat;
    background-position:9px 7px;
    background-size: 15px;
    border:none; 
    padding-left: 20px; 
}
input{
    border-color: solid 0.5px rgb(158, 157, 157);
    border: none;
    height: 20px;
    color: grey;
}

.search input{
    background-color: rgb(252, 250, 250);
    background-image:url("../../assets/searchicon.png");
    background-repeat: no-repeat;
    background-position:9px 7px;
    background-size: 15px;
    border:none;  
    border-radius: 3px;
    width: 130%;
    height: 100%;
    font-size: 12px;
    padding-left: 30px;
} 
.case{
    padding-left: 2px;
    background-color: white;
    font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: #5a5c69;
}
hr.case-text{
    border-top: solid 0.5px gray;
}
.show{
    font-size: 12px;
}
table th{
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(209, 207, 207);
    font-size: 14px;
    height: 25px;
}
table{
    width: 100%;
    text-align: center;
}
table td{
    border-bottom: 0.5px solid rgb(194, 194, 194);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    border: 0.5 solid grey;
    height: 25px;

}
table td button{
    color:white;
    width: 80%;
    height: 25px;
    font-size: 8px;
    border: none;
    border-radius: 2px;
}

#view-button{
    background-color:rgb(53, 158, 53);
}
#edit-button{
    background-color: rgb(109, 109, 238);
}
#appoint-button{
    background-color: orange;
}
#view-client{
    width: 50%;
    background-color: white;
    position: absolute;
    top:15%;
    left:15%;
    text-align: center;
    border-radius: 2px;
}
#view-client img{
    width: 15px;
    position: absolute;
    top:9px;
    left:96%;
}
#view-client table, #view-client-edit table{
    width: 90%;
    text-align: left;
    position: relative;
    top: 30px;
    left: 5%;
    color:rgb(51, 51, 51);
}
#view-client th{
    background-color:rgb(53, 158, 53);
    color:white;
}
#view-client-edit{
    width: 50%;
    background-color: white;
    position: absolute;
    top:15%;
    left:15%;
    text-align: center;
    border-radius: 2px;
}
#view-client-edit img{
    width: 15px;
    position: absolute;
    top:9px;
    left:96%;
}
#view-client-edit button{
    position: absolute;
    background-color: rgb(109, 109, 238);
    color:white;
    border: none;
}
#view-client-edit th{
    background-color:  rgb(109, 109, 238);
    color: white;
}
