*{
	box-sizing: border-box;
}
.invoice-main-content-container {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	padding: 2%;
	border: 0.3px solid rgb(142, 191, 255);
	margin-top: 100px;
}
button:hover{
	cursor: pointer;
}
.header-buttons button {
	width: 120px;
	height: 30px;
}
.invoice-header {
	align-items: center;
	height: 50px;
}
.invoice-header span:nth-child(1){
	font-size: 30px;
}
.invoice-header span:nth-child(2){
	margin-top: 8px;
	font-size: 20px;
	float: right;
}
.header-buttons button:nth-child(1){
	color: white;
	background-color: #17b3a3;
    border: 0.3px solid #17b3a3;
    outline-style: none;
    transition: background-color 0.4s;
}
.header-buttons button:nth-child(1):hover{
	color:#17b3a3;
    background-color:  white;
}
.header-buttons button:nth-child(2){
	margin-left: 10px;
	color: white;
	background-color:#faa700;
    border: 0.3px solid #faa700;
    outline-style: none;
    transition: background-color 0.4s;
}
.header-buttons button:nth-child(2):hover{
	color:#faa700;
    background-color:  white;
}
.name-content-container{
	display: flex;
	margin-top: 20px;
	width: 100%;
	height: 130px;
	
}
.name-content-left{
	width: 50%;
	
}
.name-content-left span:nth-child(3){
	color: #3b5999;
	font-size: 25px;
}
.name-content-right{
	
	width: 50%;
	text-align: end;
	
}
.name-content-right span:nth-child(3){
	color: #3b5999;
	font-size: 25px;
}
.tableContent{
	margin-top: 20px;
}
.name-content-bordered{
	background-color: white;
	color: #3b5999;
	align-items: center;
	border: 0.3px solid  black ;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	height: 30px;
}
table { 
	
	width: 100%; 
	border-collapse: collapse; 
	
	margin-left: auto;
	margin-right: auto;
	}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #eee; 
	}

th { 
	background:  #3b5999;; 
	color: white; 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
	}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {


	table { 
	  	width: 100%; 
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);

		color: #000;
		font-weight: bold;
	}

}