* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
}

.text-primary-p {
  color: #a5aaad;
  font-size: 14px;
  font-weight: 700;
}
.font-bold {
  font-weight: 700;
}
.text-title {
  color: #2e4a66;
}
.text-light {
  color: #469cac;
}
.text-red {
  color: #cc3d38;
}
.text-yellow {
  color: #ff8921;
}
.text-green {
  color: #3bdd68;
}
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.8fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar nav nav nav"
    "sidebar main main main";
}

.navbar {
  background: #ffffff;
  grid-area: nav;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  border-bottom: 1px solid lightgray;
}

.nav_icon {
  display: none;
}

.nav_icon > i {
  font-size: 26px;
  color: #a5aaad;
}

.nav__left > a {
  margin-right: 30px;
  text-decoration: none;
  color: #a5aaad;
  font-size: 15px;
  font-weight: 700;
}

.navbar__left .active_link {
  color: #265aaa;
  border-bottom: 3px solid #265aaa;
  padding-bottom: 12px;
}

.navbar__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__right > a {
  margin-left: 20px;
  text-decoration: none;
}
.navbar__right > a > i {
  color: #f50057;
  font-size: 16px;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 2px 2px 5px #d9d9d9, -2px -2px 5px #ffffff;
  transition: all 0.5s;
}
.navbar__right > a > i:hover {
  padding: 15px;
}

.notification {
  position: absolute;
  width: 50px;
  height: 100px;
  background: #265aaa;
  margin-top: 20px;
  z-index: 100;
}
main {
  background: #f3f4f6;
  grid-area: main;
  overflow: auto;
}
.main__container {
  padding: 20px 50px;
}
.main__title {
  display: flex;
  align-items: center;
}
.main__title > img {
  max-height: 100px;
  object-fit: contain;
  margin-right: 20px;
}
.main__greeting {
  font-size: 24px;
  color: #2e4a66;
  margin-bottom: 5px;
}
.main__greeting > p {
  font-size: 14px;
  font-weight: 700;
  color: #a5aaad;
}
.main__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin: 20px 0;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70px;
  padding: 25px;
  background: #ffffff;
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}
.card__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__inner > span {
  font-size: 25px;
}
.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 50px;
}
.charts__left {
  padding: 25px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}
.charts__left__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.charts__left__title > div > h1 {
  font-size: 24px;
  color: #2e4a66;
  margin-bottom: 5px;
}
.charts__left__title > div > p {
  font-size: 14px;
  font-weight: 700;
  color: #a5aaad;
}
.charts__left__title > i {
  color: #ffffff;
  font-size: 20px;
  background: #ffc100;
  border-radius: 200px 0px 200px 200px;
  -webkit-border-radius: 200px 0px 200px 200px;
  border: 0px solid #000000;
  padding: 15px;
}
.charts__right {
  padding: 25px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}
.charts__right__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.charts__right__title > div > h1 {
  font-size: 24px;
  color: #2e4a66;
  margin-bottom: 5px;
}
.charts__right__title > div > p {
  font-size: 14px;
  font-weight: 700;
  color: #a5aaad;
}
.charts__right__title > i {
  color: #ffffff;
  font-size: 20px;
  background: #39447a;
  border-radius: 200px 0px 200px 200px;
  -webkit-border-radius: 200px 0px 200px 200px;
  border: 0px solid #000000;
  padding: 15px;
}
.charts__right__cards {
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 30px;
}

.card1 {
  background: #d1ecf1;
  color: #35a4ba;
  text-align: center;
  padding: 25px;
  border-radius: 5px;
  font-size: 14px;
}
.card2 {
  background: #d2f9ee;
  color: #38e1b0;
  text-align: center;
  padding: 25px;
  border-radius: 5px;
  font-size: 14px;
}
.card3 {
  background: #d6d8d9;
  color: #3a3e41;
  text-align: center;
  padding: 25px;
  border-radius: 5px;
  font-size: 14px;
}
.card4 {
  background: #fddcdf;
  color: #f65a6f;
  text-align: center;
  padding: 25px;
  border-radius: 5px;
  font-size: 14px;
}

#sidebar {
  background: #020509;
  grid-area: sidebar;
  overflow: auto;
  padding: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.sidebar__img {
  display: flex;
  align-items: center;
}
.sidebar__title > div > img {
  width: 75px;
  object-fit: contain;
}
.sidebar__title > div > h1 {
  font-size: 18px;
  padding-left: 30px;
  display: inline;
}
.sidebar__title > i {
  font-size: 18px;
  display: none;
}
.sidebar__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f3f4f6;
  margin-bottom: 30px;
}
.sidebar__menu > h2 {
  color: #3ea175;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 0 10px;
  font-weight: 700;
}
.sidebar__link {
  color: #f3f4f6;
  padding: 10px;
  border-radius: 3px;
}
.active_menu_link {
  background: rgba(62, 161, 117, 0.3);
  color: #3ea175;
}
.active_menu_link a {
  color: #3ea175 !important;
}
.sidebar__link > a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}
.sidebar__link > i {
  margin-right: 10px;
  font-size: 18px;
}
.sidebar__logout {
  margin-top: 20px;
  padding: 10px;
  color: #e65061;
  text-transform: uppercase;
}
.sidebar__logout > i {
  margin-right: 10px;
  font-size: 18px;
}
