* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#task-background{
    margin-left: 200px;
    background-color: ghostwhite;
}
.big_box {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    width: 2850px;
    display: flex;
    
    height: 800px;
}

h3 {
    color: black;

}

.item1 {
    width: 350px;
    background-color: whitesmoke;
    margin-right: 20px;
    margin-left: 20px;
    /* border: 1px solid black; */
}



.item3 {
    width: 350px;
    background-color: whitesmoke;
    /* border: 1px solid black; */
}

.item4 {
    width: 350px;
    background-color: whitesmoke;
    /* border: 1px solid black; */
}


/* edit  */
.big_box .item1_1 {
    display: flex;
}


.big_box .item1_1 {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    background-color: white;
    border-bottom-color: white;
    border-right-color: white;
    border-left-color: white;
    border-top-color: red;
    border-top-width: 7px;
    border-radius: 10px;
    margin-right: 8px;
    height: 70px;
}

.item1_1 #ic {
    margin-left: 180px;
    margin-top: 13px;
    cursor: pointer;
}

/* open taskkk */
.task_1 {
    height: 110px;
    border: 2px solid red;
    border-top-width: 7px;
    /* border-bottom-color: white;
    border-right: white;
    border-left: white; */
    margin-left: 10px;
    border-radius: 9px;
    margin-top: 10px;
    margin-right: 7px;
    background-color: white;
}

/* open task dotor  */
.task_1 p {
    font-size: 16px;
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.item1_1:hover {
    box-shadow: gray 5px 5px 5px 5px;
}

#task_1_1 {
    margin-left: 15px;
    margin-top: 4px;
}

.task_1:hover {
    box-shadow: gray 5px 5px 5px 5px;
}

.number {
    border: 1px solid black;
    width: 30px;
    text-align: center;
    border-radius: 7px;
    margin-top: 10px;
    background-color: gainsboro;
    color: red;
    margin-bottom: 4px;
}

#task_1_1 h5 {
    font-size: 19px;
    margin-top: 5px;
    margin-left: 6px;
    font-family: Arial, Helvetica, sans-serif;
}

.item1_1 p {
    margin-left: 20px;
    font-size: 18px;
    font-size: 26px;
    margin-top: 16px;
}


/* 3 div edit */
.item3 .item3_1 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    border: 4px solid black;
    background-color: white;
    border-bottom-color: white;
    border-right-color: white;
    border-left-color: white;
    border-top-color: blue;
    border-top-width: 7px;
    border-radius: 10px;
    margin-right: 8px;
    height: 70px;
}

/* SUUDER */
.item3_1:hover {
    box-shadow: gray 5px 5px 5px 5px;
}

.item3_1 {
    display: flex;
}

.item3_1 #ic3 {
    margin-left: 120px;
    margin-top: 17px;
}

.item3_1 p {
    margin-left: 20px;
    font-size: 18px;
    font-size: 26px;
    margin-top: 16px;
}

#task_3_1 h5 {
    font-size: 19px;
    margin-top: 5px;
    margin-left: 6px;
    font-family: Arial, Helvetica, sans-serif;
}

.task_3 {
    height: 110px;
    border: 2px solid blue;
    border-top-width: 7px;
    /* border-bottom-color: white;
    border-right: white;
    border-left: white; */
    margin-left: 10px;
    border-radius: 9px;
    margin-top: 10px;
    margin-right: 7px;
    background-color: white;
}

.task_3:hover {
    box-shadow: gray 5px 5px 5px 5px;
}

#task_3_1 {
    margin-left: 15px;
    margin-top: 4px;
}

/* 3 div edit */
.item4 .item4_1 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    border: 4px solid black;
    background-color: white;
    border-bottom-color: white;
    border-right-color: white;
    border-left-color: white;
    border-top-color: green;
    border-top-width: 7px;
    border-radius: 10px;
    margin-right: 8px;
    height: 70px;
}

/* SUUDER */
.item4_1:hover {
    box-shadow: gray 5px 5px 5px 5px;
}

.item4_1 {
    display: flex;
}

.item4_1 #ic4 {
    margin-left: 100px;
    margin-top: 17px;
}

.item4_1 p {
    margin-left: 20px;
    font-size: 18px;
    font-size: 26px;
    margin-top: 16px;
}

#task_4_1 h5 {
    font-size: 19px;
    margin-top: 5px;
    margin-left: 6px;
    font-family: Arial, Helvetica, sans-serif;
}

.task_4 {
    height: 110px;
    border: 2px solid green;
    border-top-width: 7px;
    /* border-bottom-color: white;
    border-right: white;
    border-left: white; */
    margin-left: 10px;
    border-radius: 9px;
    margin-top: 10px;
    margin-right: 7px;
    background-color: white;
}

.task_4:hover {
    box-shadow: gray 5px 5px 5px 5px;
}

#task_4_1 {
    margin-left: 15px;
    margin-top: 4px;
}


/*  head clicked text */

.text_click {
    display: flex;
    margin-left: 100px;
    padding-top: 20px;
}

.text_click #text_two {
    margin-left: 170px;
}

.text_click #text_three {
    margin-left: 170px;
}

.text_click #text_four {
    margin-left: 170px;
}

/************************ new task ************************/
#new-task-board{
    width: 342px;
    height: 100px;
    background-color: white;
    border: 1px solid #08c7e0;
    border-radius: 7px;
    padding: 20px;
}
#new-task-board input{
    height: 30px;
    width: 250px;
    padding-left: 8px;
    outline: none;
    outline-color:#08c7e0;
    /* border: none; */
}
.task-priority i {
    
    padding-top: 0px ;
    cursor: pointer;
}
#task-check{
    padding-left: 5%;
    cursor: pointer;
}
#task-start{
    padding-left: 5%;
}
#task-due{
    padding-left: 5%;
}
#task-priority-status{
    display: none;
    width: 130px;
    background-color: white;
    font-size: 17px;
    border-radius: 6px;
    cursor: pointer;
    position: absolute;
    left: 23%;
    box-shadow: 5px 10px 18px #888888;
    border: none;
} 
#task-priority-status span{
    color: rgb(104, 103, 103);
    padding-left: 15%;
}
#task-priority-status hr{
    width: 130;
    border: 0.1px solid gray;
} 

.task-priority-high:hover, #task-priority-normal:hover, #task-priority-low:hover, #open:hover, #in-progress:hover, #closed:hover {
    background-color: rgb(243, 241, 241);
}
.task-priority-high {
    color: rgb(231, 36, 36);
    position: relative;
    left: 10%;
   
}
.textRed{
    color: rgb(231, 36, 36);
}
.textCyan{
    color: #08c7e0;
}
.textGreen{
    color:green;
}
#task-priority-normal i{
    color: #08c7e0;
    position: relative;
    left: 10%;
}
#task-priority-low i{
    color: green;
    position: relative;
    left: 10%;
}
#task-status{
    color: gray;
    cursor: pointer;
    position:absolute;
    left: 28%;
    background-color: white;
    box-shadow: 5px 10px 18px #888888;
    width: 130px;
    border-radius: 6px;
    font-size: 17px;
    display: none;
    
}
#task-status i{
    position: relative;
    left: 5%;
}
#task-status #open{
    color: red;
}
#task-status #in-progress{
    color: blue;
}
#task-status #closed{
    color: green;
}
#task-status span{
    color:rgb(105, 104, 104);
}
#task-status span{
    position: relative;
    left: 7%;
}
#task-line{
    border: 0.1px solid gray;
}
#task-save{
    color: white;
    background-color: #08c7e0;
    border: none;
    border-radius: 4px;
    width: 80px;
    margin-left: 30%;

}
#create-task{
    margin-top: 5%;
}
#task-icons{
    display: flex;
    padding-top: 5%;
}
