* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.task{
    background-color: thistle;
}
.task-head{
    display: flex;
    align-content: space-between;
}
h3 {
    color: black;
}
.task-container {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    width: 2850px;
    display: flex;
    background-color: ghostwhite;
    height: 800px;
}
.task-open-col {
    width: 350px;
    background-color: whitesmoke;
}
.task-open{
    display: flex;
}
.task-open {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    border: 2px solid black;
    background-color: white;
    border-bottom-color: white;
    border-right-color: white;
    border-left-color: white;
    border-top-color: red;
    border-top-width: 7px;
    border-radius: 10px;
    margin-right: 8px;
    height: 70px;
}
.task-open:hover {
    box-shadow: gray 5px 5px 5px 5px;
}

.task-open p {
    margin-left: 20px;
    font-size: 18px;
    font-size: 26px;
    margin-top: 16px;
}
#new-task-board{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    background-color: white;
    border-radius: 10px;
    margin-right: 8px;
    height: 100px;
}

.task-progress-col {
    width: 350px;
    background-color: whitesmoke;
    
}

.task-completed-col {
    width: 350px;
    background-color: whitesmoke;
    
}

.task-progress {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    border: 4px solid black;
    background-color: white;
    border-bottom-color: white;
    border-right-color: white;
    border-left-color: white;
    border-top-color: rgb(59, 169, 206);
    border-top-width: 7px;
    border-radius: 10px;
    margin-right: 8px;
    height: 70px;
}

.task-progress:hover {
    box-shadow: gray 5px 5px 5px 5px;
}

.task-progress {
    display: flex;
}

.task-progress p {
    margin-left: 20px;
    font-size: 18px;
    font-size: 26px;
    margin-top: 16px;
}


.task-completed {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    border: 4px solid black;
    background-color: white;
    border-bottom-color: white;
    border-right-color: white;
    border-left-color: white;
    border-top-color: lightgreen;
    border-top-width: 7px;
    border-radius: 10px;
    margin-right: 8px;
    height: 70px;
}

/* SUUDER */
.task-completed:hover {
    box-shadow: gray 5px 5px 5px 5px;
}

.task-completed {
    display: flex;
}

.task-completed p {
    margin-left: 20px;
    font-size: 18px;
    font-size: 26px;
    margin-top: 16px;
}
#new-task-board form{
    width: 200px;
}
